Repository neatnik/OMG.LOL, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, profiles

Create FUNDING.yml
  .github/FUNDING.yml
Labels: none

wait a sec...
  profiles/themes/hotdog-stand.css
Labels: profiles

didnt realise adam had that turned off LMAO
  .github/FUNDING.yml
Labels: none

Create FUNDING.yml
  .github/FUNDING.yml
Labels: none

moar copyeditings
  info/Community/irc-clients.md
  info/omg.lol/bugs.md
  info/omg.lol/services.md
  info/omg.lol/thanks.md
Labels: documentation

Add wikipedia as an icon
  profiles/icons/domains.json
Labels: none

Update domains.json
  profiles/icons/domains.json
Labels: none

+wikimedia-community, +mediawiki
  profiles/icons/defined_omgicons.txt
  profiles/icons/domains.json
  profiles/icons/icons.json
  profiles/icons/omg.lol-glyphs.css
  profiles/icons/omg.lol-icons.woff2
  profiles/icons/omg.lol.icons.glyphs
Labels: none

Minor phrasing updates
  info/omg.lol/code-of-conduct.md
Labels: documentation

Background color update
  info/omg.lol/legal.md
Labels: documentation

Background colors
  info/omg.lol/legal.md
Labels: documentation

Update pastebin.md
  info/Extra/pastebin.md
Labels: documentation

merging fastmail-setup.md into fastmail.md
  info/Email/fastmail.md
Labels: documentation

Create _fastmail-setup.md
  info/Email/_fastmail-setup.md
Labels: documentation

+google play
  profiles/icons/domains.json
Labels: none

Fastmail updates
  info/Email/_fastmail-setup.md
  info/Email/fastmail-setup.md
  info/Email/fastmail.md
Labels: documentation

Update fastmail.md
  info/Email/fastmail.md
Labels: documentation

Update fastmail.md
  info/Email/fastmail.md
Labels: documentation

Update fastmail.md
  info/Email/fastmail.md
Labels: documentation

Redirect Slack
  info/Community/_slack.md
Labels: documentation

Update community-tools.md
  info/Community/community-tools.md
Labels: documentation

+bilibili
  profiles/icons/domains.json
Labels: none

Add Bitbucket icon
  profiles/icons/domains.json
Labels: none

please
  profiles/icons/domains.json
Labels: none

KILL ME
  profiles/icons/domains.json
Labels: none

.github/labeler.yml:

documentation:
  - any: ['info/**/*.md', '!info/README.md']
profiles:
  - any: ['profiles/themes/*.css']
