Repository neatnik/omg.lol, pull requests merged in 2022-10, with the labels that each got.

#219 Changing Read-me :D
  README.md
  info/README.md
Labels: hacktoberfest-accepted

#222 Emerald Isle theme
  profiles/themes/emerald-isle.css
  profiles/themes/themes.json
Labels: Profile, hacktoberfest-accepted

#223 Update the README
  README.md
Labels: documentation

#225 Refactoring /info
  info/Account/account-settings.md
  info/Account/passwords.md
  info/Account/two-factor-authentication.md
  info/Addresses/address-requirements.md
  info/Addresses/disambiguation.md
  info/Addresses/dns.md
  info/Addresses/emoji-addresses.md
  info/Addresses/lifetime-addresses.md
  info/Addresses/purls.md
  info/Addresses/switchboard.md
  info/Addresses/url.lol.md
  info/Community/community-tools.md
  info/Community/irc-clients.md
  info/Community/irc.md
  info/Community/mastodon.md
  info/Community/social.lol.md
  info/Email/email-forwarding.md
  info/Email/email.md
  info/Email/fastmail-setup.md
  info/Email/fastmail.md
  info/Email/mailhooks.md
  info/Extra/keybase.md
  info/Extra/pastebin.md
  info/Extra/statuslog.md
  info/Extra/weblog.md
  info/Profile & Web/profile-items.md
  info/Profile & Web/profile-themes.md
  info/Profile & Web/profile-verification.md
  info/Profile & Web/profiles.md
  info/Profile & Web/tildeverse.md
  info/Profile & Web/web-basics.md
  info/omg.lol/about.md
  info/omg.lol/abuse.md
  info/omg.lol/api.md
  info/omg.lol/bugs.md
  info/omg.lol/code-of-conduct.md
  info/omg.lol/contact.md
  info/omg.lol/dashboard.md
  info/omg.lol/faq.md
  info/omg.lol/legal.md
  info/omg.lol/payments.md
  info/omg.lol/pricing.md
  info/omg.lol/services.md
  info/omg.lol/staging.md
  info/omg.lol/thanks.md
Labels: documentation, needs-input, staging-environment

#226 Added more about The Lounge
  info/Community/irc-clients.md
Labels: enhancement, hacktoberfest-accepted

#230 Automate labelling of PRs and add issue template
  .github/ISSUE_TEMPLATE/bugs.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/labeler.yml
  .github/workflows/label_pr.yml
Labels: enhancement

#232 improve colouring (emerald isle)
  profiles/themes/emerald-isle.css
Labels: profile

#236 Add Hot Dog Stand theme
  profiles/themes/hotdog-stand.css
  profiles/themes/themes.json
Labels: Profiles, hacktoberfest-accepted

#233 adding Deep Red!
  profiles/themes/deep-red.css
  profiles/themes/nothing-but-red.css
Labels: enhancement, Profiles, hacktoberfest-accepted

#237 Add GitHub "Sponsor" button
  .github/FUNDING.yml
Labels: enhancement, hacktoberfest-accepted

#238 More copyeditings
  info/Community/irc-clients.md
  info/omg.lol/bugs.md
  info/omg.lol/services.md
  info/omg.lol/thanks.md
Labels: documentation

#239 add Wikipedia icon
  profiles/icons/domains.json
Labels: profiles, hacktoberfest-accepted

#241 Update pastebin.md
  info/Extra/pastebin.md
Labels: documentation, hacktoberfest-accepted

#243 merging fastmail-setup.md into fastmail.md
  info/Email/fastmail.md
Labels: documentation, hacktoberfest-accepted

#246 Update community-tools.md
  info/Community/community-tools.md
Labels: documentation, hacktoberfest-accepted

#249 Label edits to icon data with "Profiles" automatically
  .github/labeler.yml
Labels: profiles, hacktoberfest-accepted

#250 fixing my dumb mistakes
  info/Community/community-tools.md
Labels: documentation

#254 Warn about using CNAMEs at the apex
  info/Address Services/switchboard.md
Labels: documentation

#283 Update switchboard.md
  info/Address Services/switchboard.md
Labels: documentation, hacktoberfest-accepted

#287 Fix some typos in the IRC info page.
  info/Community/irc.md
Labels: documentation, hacktoberfest-accepted

#290 added coming soon to weblog on services page
  info/About/services.md
Labels: documentation

#289 metdata class -> metadata class
  info/Profile & Web/advanced-editor.md
Labels: documentation

#295 Update statuslog.md
  info/Address Services/statuslog.md
Labels: documentation

#309 Fix accidental deletion
  .github/workflows/icons.yml
Labels: core, icon

#311 update profiles.md
  info/Profile & Web/profile-verification.md
  info/Profile & Web/profiles.md
Labels: documentation, hacktoberfest-accepted

#329 Change ebay to be a partial domain
  profiles/icons/defined_domains.txt
Labels: web/profiles, icon

#342 An attempt at making a Catpuccin Macchiato theme.
  profiles/themes/catpuccin-macchiato.css
Labels: web/profiles

#348 Fix typo in Subscriptions paragraph
  info/Billing/billing.md
Labels: documentation

#341 Update thanks.md
  info/Feedback & Help/thanks.md
Labels: documentation
