Repository neatnik/omg.lol, pull requests merged in 2023-03, with the labels that each got.

#621 Fix URLs for timeline.lol and some.pics
  info/About/service-domains.md
Labels: documentation

#622 Update dns.md
  info/Features/dns.md
Labels: documentation

#623 Adds ByeCorps theme
  profiles/themes/byecorps.css
  profiles/themes/themes.json
Labels: web/profiles

#627 Removing article tag from page template
  weblog/weblog-default-page-template.html
Labels: bug, weblog

#625 Update gpf.css
  profiles/themes/gpf.css
Labels: web/profiles
