Repository neatnik/omg.lol, pull requests merged in 2023-01, with the labels that each got.

#449 Update legal.md
  info/About/legal.md
Labels: documentation

#451 Adding upcoming Proofs info to a couple places
  info/About/service-domains.md
  info/About/services.md
Labels: documentation

#454 Adding custom domain info to the PURL help page
  info/Address Services/purls.md
Labels: documentation

#455 Assorted updates
  info/About/services.md
  info/Address Services/purls.md
  info/Address Services/switchboard.md
  info/Address Services/weblog.md
  info/Profile & Web/profile-verification.md
Labels: documentation

#462 add Discord bridge info
  info/Community/irc.md
Labels: documentation

#464 Assorted changes
  info/About/services.md
  info/Profile & Web/profile-items.md
Labels: documentation

#463 Apostrophe
  info/Community/irc.md
Labels: documentation

#482 moving things about in IRC article
  info/Community/irc.md
Labels: documentation

#485 updated mastodon article
  info/Community/mastodon.md
Labels: documentation

#480 Add bunny to people
  profiles/icons/defined_domains.txt
Labels: web/profiles

#498 Add gamer theme for profiles
  profiles/themes/gamer/gamer.css
  profiles/themes/gamer/gamer.json
Labels: web/profiles

#487 add weblog action to README
  README.md
Labels: documentation, core

#513 Update two-factor-authentication.md
  info/Account/two-factor-authentication.md
Labels: documentation

#522 Delimiter spelling
  info/Email/email.md
Labels: documentation

#523 Update switchboard.md
  info/Features/switchboard.md
Labels: documentation

#528 Update profile-items.md
  info/Profile & Web/profile-items.md
Labels: documentation

#536 Update social.lol.md
  info/Community/social.lol.md
Labels: documentation
